<f:if condition="{settings.filter.show}">
	<f:form>
		<f:form.hidden property="page" value="1" />
		<f:form.select name="filter[date][year]" options="{2018: 2018, 2019: 2019}" prependOptionLabel="Please Choose" value="{filter.date.year}"/>
		<f:form.select name="filter[date][month]" options="{01: 1, 02:2, 03:3, 04:4, 05:5, 06:6, 07:7, 08:8, 09:9, 10:10, 11:11, 12:12}" prependOptionLabel="Please Choose" value="{filter.date.month}"/>
		<f:form.submit value="Filter" />
	</f:form>
</f:if>

<div>
	<f:for each="{news}" as="report">
		<div>
			<p><f:link.typolink parameter="{report.uid}">{report.title}</f:link.typolink></p>
			<p>{report.date -> f:format.date()}</p>
			<p>{report.category.name}</p>
		</div>
	</f:for>
</div>

<!-- todo: do correctly -->
<f:if condition="{page} > 1">
	<f:then>
		<f:link.action arguments="{page: 1, filter: filter}">&lt;&lt;</f:link.action>
		<f:link.action arguments="{page: '{page -1}', filter: filter}">&lt;</f:link.action>
		<f:link.action arguments="{page: '{page -1}', filter: filter}">{page -1}</f:link.action>
	</f:then>
	<f:else>
		&lt;
	</f:else>
</f:if>
{page}
<f:if condition="{page} < {lastpage}">
	<f:then>
		<f:link.action arguments="{page: '{page +1}', filter: filter}">{page +1}</f:link.action>
		<f:link.action arguments="{page: '{page +1}', filter: filter}">&gt;</f:link.action>
		<f:link.action arguments="{page: '{lastpage}', filter: filter}">&gt;&gt;</f:link.action>
	</f:then>
	<f:else>
		&gt;
	</f:else>
</f:if>
